form {
    padding: 2rem;
    margin: 2rem;
  }
  
  .formtext {
    position: relative;
    top: -48px;
    background: white;
    padding: 7px;
    width: 57px;
  }

.mvp-1 {
  color: #030139;
}

.mvp-2 {
  background-color: #030139;
}

.btn-light {
  margin: 10;
  overflow-wrap: break-word;
  color: red;
}